* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
html {
  background: #fff;
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  background: #f95240 url(assets/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-height: 560px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-height: 640px) {
  html {
    font-size: 112.5px;
  }
}
@media screen and (min-height: 720px) {
  html {
    font-size: 125px;
  }
}
@media screen and (min-height: 800px) {
  html {
    font-size: 137.5px;
  }
}
@media screen and (min-height: 880px) {
  html {
    font-size: 150px;
  }
}
@media screen and (min-height: 960px) {
  html {
    font-size: 162.5px;
  }
}
@media screen and (min-height: 1040px) {
  html {
    font-size: 180px;
  }
}
@media screen and (min-height: 1200px) {
  html {
    font-size: 200px;
  }
}
html {
  font-size: 17.6vh;
}
#canvas {
  position: fixed;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
.loading {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.loading .main {
  width: 60%;
  margin: 0 auto;
  color: #fff;
}
.loading .main img {
  width: 60%;
  margin: 1rem auto 0;
}
.loading .main .title {
  font-size: 0.3rem;
}
.loading .main .text {
  font-size: 0.15rem;
}
.loading .main .bar {
  height: 0.12rem;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 0.6rem;
  margin: 0.1rem 0;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading .main .bar .sub {
  height: 0.1rem;
  width: 98%;
  margin: 0.008rem auto 0;
}
.loading .main .bar .percent {
  height: 100%;
  width: 0;
  background-color: #fff;
  border-radius: 0.6rem;
}
.loading .logo {
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  right: 0;
}
.loading .logo img {
  width: 1rem;
}
.content {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  left: 100px;
}
.landing .title {
  width: 60%;
}
.landing .hook {
  width: 30% !important;
}
.landing .logo {
  width: 30%;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}
.landing .action-2 {
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
}
.landing .start {
  width: 65%;
}
.slideTop {
  -webkit-animation: st 1s ease-in-out;
  animation: st 1s ease-in-out;
}
@-webkit-keyframes st {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes st {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
.slideBottom {
  -webkit-animation: sb 1s ease-in-out;
  animation: sb 1s ease-in-out;
}
@-webkit-keyframes sb {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, 200%, 0);
  }
}
@keyframes sb {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, 200%, 0);
  }
}
.swing {
  -webkit-animation: sw 2s ease-in-out alternate infinite;
  animation: sw 2s ease-in-out alternate infinite;
}
@-webkit-keyframes sw {
  0% {
    transform: rotate(5deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(-5deg);
    transform-origin: top center;
  }
}
@keyframes sw {
  0% {
    transform: rotate(5deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(-5deg);
    transform-origin: top center;
  }
}
.modal .mask {
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.modal .modal-content {
  position: fixed;
  height: 100%;
  width: 90%;
  margin-top: 0.3rem;
  top: 0;
}
.modal .main {
  width: 85%;
  margin: 0 auto;
}
.modal .container {
  position: relative;
}
.modal .bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.modal .modal-main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.4rem;
}
.modal .over-img {
  width: 80%;
  margin: 0.8rem auto 0;
}
.modal .over-score {
  margin-top: -0.2rem;
  font-size: 0.5rem;
  color: #ff735c;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
}
.modal .tip {
  font-size: 0.16rem;
  color: #9b724e;
}
.modal .over-button-b {
  width: 70%;
  margin: 0.1rem auto 0;
}
.overview {
  display: flex;
}
.overview .side-panel {
  position: absolute;
  height: 100%;
  max-height: 100vh;
  width: 28%;
  display: flex;
  flex-direction: column;
  background-color: #018a08;
}

.side-panel-container {
  padding: 32px 16px 16px;
}

.side-panel-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  color: white;
  text-align: start;
  line-height: 1;
}

.side-panel-details {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: white;
  overflow: hidden;
  margin-top: 24px;
}

.hidden {
  display: none !important;
}

.side-panel-details .text-details {
  color: #018a08;
  font-size: 16px;
  text-align: start;
}

.side-panel-details .text-details p:first-child {
  margin-bottom: 24px;
}

.break {
  margin-top: 24px;
  border-bottom: #018a08 dashed 1px;
}

.side-panel-details .top-level-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 8px;
}

.side-panel-details .top-level-info div {
  width: 50%;
  text-align: start;
  padding: 16px 12px;
  background-color: #f7f7f7;
  border-radius: 12px;
}

.sub-top-level-info {
  color: #98989d;
  font-size: 13px;
  padding-bottom: 2px;
}

.side-panel-details .top-level-info div {
  padding-top: 10px;
  text-align: start;
  font-size: 18px;
  color: #018a08;
}

.side-panel-details .leaderboard {
  border-radius: 12px;
  font-size: 13px;
  background-color: #f9f9f9;
  padding: 12px;
}

.side-panel-details .leaderboard .board-header {
  text-align: start;
  color: #98989d;
  margin-bottom: 16px;
  padding: 3px;
}

#leaderboard-body {
  height: calc(100vh - 700px) !important;
  max-height: calc(100vh - 700px) !important;
  overflow-y: scroll !important;
}

.side-panel-details .leaderboard .board-table-header {
  display: flex;
  flex-direction: row;
  color: #98989d;
  justify-content: space-between;
  border-top: #98989d dashed 1px;
}

.side-panel-details .leaderboard .board-table-header span {
  padding: 10px 0px;
}

.side-panel-details .leaderboard .board-entry {
  display: flex;
  flex-direction: row;
  color: #98989d;
  justify-content: space-between;
}

.side-panel-details .leaderboard .board-entry span {
  padding: 10px 0px;
}

.side-panel-details .leaderboard .board-entry span:nth-child(3) {
  color: #018a08;
  font-weight: bold;
}

.side-panel-details .leaderboard-team {
  border-radius: 12px;
  font-size: 13px;
  padding: 16px;
  background: #018a081a;
  margin: 8px 0px 8px;
}

.side-panel-details .leaderboard-team .leaderboard-team-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #98989d;
  margin-bottom: 16px;
}

.side-panel-details .leaderboard-team .leaderboard-team-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #98989d dashed 1px;
  color: #018a08;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.side-panel-details button {
  background-color: #018a08;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 18.5px 0px 18.5px;
}

.side-panel-body .connect-button {
  margin-left: 30px;
  margin-right: 30px;
  padding: 15px 60px;
  background-color: #018a08;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 4px 0px 4px;
  font-size: 12px;
  gap: 2px;
  align-items: center;
}

.nav-item {
  display: flex;
  width: 50%;
  padding: 3px 0px 3px;
  color: #98989d;
  justify-content: center;
}

.nav-link {
  color: #98989d;
}

.active {
  background: #f9f9f9;
  padding: 6px 14px;
  border-radius: 4px;
  color: #018a08;
}

#walletButton {
  position: absolute;
  right: 10px;
  margin-right: 30px;
  padding: 15px 10px;
  background-color: white;
  color: #018a08;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  font-family: "Kangmas";
  font-weight: bold;
}

#switch-wallet {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  margin-right: 30px;
  padding: 15px 10px;
  background-color: white;
  color: #018a08;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
  width: 150px;
  height: 50px;
}

#switch-wallet .wallet-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
  font-family: "Kangmas";
  font-weight: bold;
}

#switch-wallet img {
  width: 16px;
  height: 16px;
}

.team-card {
  background-color: #e0e0e0;
  width: 356px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.team-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}

.team-label,
.avg-score-label {
  color: gray;
  font-size: 14px;
}

.team-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.team-members {
  display: flex;
  align-items: center;
}

.team-members img {
  border-radius: 50%;
  margin-right: 5px;
}

.additional-members {
  background-color: #5cb85c;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 5px;
}

.team-name {
  font-weight: bold;
  color: #0c7b0c;
  font-size: 18px;
}

.avg-score {
  font-weight: bold;
  color: #0c7b0c;
  font-size: 18px;
  padding-top: 10px;
}

.wxShare {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0.9;
}
.wxShare img {
  width: 50%;
  float: right;
  margin: 10px 10px 0 0;
}
@font-face {
  font-family: wenxue;
  src: url(assets/wenxue.eot);
  src: url(assets/wenxue.eot), url(assets/wenxue.woff), url(assets/wenxue.ttf),
    url(assets/wenxue.svg);
}
.font-wenxue {
  font-family: wenxue;
}

@font-face {
  font-family: "Kangmas";
  src: url(assets/KangmasDemoRegular-EajJj.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-Kangmas {
  font-family: "Kangmas";
}

@font-face {
  font-family: "Geist-Regular";
  src: url(assets/Geist-Regular-BF6569491e3eff1.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-Geist-Regular {
  font-family: "Geist-Regular";
}

@font-face {
  font-family: "Geist-Medium";
  src: url(assets/Geist-Medium-BF6569491e1c281.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-Geist-Medium {
  font-family: "Geist-Medium";
}

.font-bold {
  font-weight: bold;
}

.font-18 {
  font-size: 18px;
}
.font-13 {
  font-size: 13px;
}

.font-12 {
  font-size: 12px !important;
}
.font-30 {
  font-size: 30px;
}

#walletSelectionModal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 30px 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: start;
  width: 20%;
  height: 50%;
}

.not-found-modal-container,
.wallet-modal-container {
  display: none;
  background-color: rgba(1, 137, 8, 0.78);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.noNft-subheader {
  color: rgba(255, 255, 255, 0.64);
  font-family: "Geist-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.opensea-link {
  color: rgba(255, 255, 255, 0.88);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  font-family: "Geist-Medium";
}

.not-found-modal,
.wallet-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #018a08;
  width: 100%;
  max-width: 420px;
  padding: 36px 24px;
  gap: 32px;
  /* height: 50%; */
  border-radius: 20px;
}

.closeButton {
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #018a08;
  font-size: 16px;
}
.wallet-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.walletOption {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #018a08;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.walletOption:hover {
  background-color: #0056b3;
}

.font-48 {
  font-size: 48px;
}

.modal-header {
  color: white;
  text-align: start;
  /* padding: 36px 24px 24px 24px; */
}

.modal-body {
  background: rgba(223, 248, 71, 0.11);
  color: rgba(223, 248, 71, 1);
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  margin: 0px 24px;
}

.modal-button {
  /* margin: 24px; */
  width: 100%;
  background-color: white;
  border-radius: 100px;
  padding: 18.5px;
  border: none;
  color: #018a08;
  font-family: "Geist-Medium";
  font-size: 16px;
}

.mobile-show {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile-show {
    display: flex;
  }
  .mobile-width {
    align-items: center;
    justify-content: center;
    width: 80% !important;
  }
  .mobile-header {
    font-size: 36px;
    text-align: center;
  }
  canvas {
    display: none;
  }
  .overview {
    display: none;
  }
}
